<link rel="stylesheet" href="/css/home.css">
<h1 class="heading">Habit</h1>
<form action="/create" method="POST">
    <input type="text" name="habit" placeholder="Enter Your Habit" required>
    <input type="text" name="time" placeholder="timing" required>
    <button type="submit">Add to Habit</button>

</form>


<div class="habit-list">
    <h1>Habit List</h1>
    <ul>
        <% for(let i of habit_list) {%>
            <li>
                <p><%= i.habit %></p>
                <div class="button">
                    <a href="/delete-habit/?id=<%=i._id%>"><button>Delete</button></a>
                
                    <a href="/users/profile/?id=<%=i._id %>"><button>Profile</button></a>
                </div>
                
                
            </li>
            <%}
        %>
    </ul>
</div>